@using Turnstile.Web.Controllers
@model SubscriptionMessageViewModel

@{
    ViewData["Title"] = "No subscriptions available | Turnstile";
}

<h1>No subscriptions available</h1>
<lead>But that can change! To subscribe, @Html.Raw(Model.SalesContactHtml).</lead>

<div style="margin-top: 20px">
<a role="button" class="btn btn-light" href="@Url.RouteUrl(TurnstileController.RouteNames.DefaultTurnstile)">Try again »</a>
</div>