@using Turnstile.Web.Controllers
@using Turnstile.Web.Extensions

@{
    var layoutModel = ViewData.GetLayoutModel()!;
    var subContextModel = ViewData.GetSubscriptionContextModel()!;

    ViewData["Title"] = $"Subscription canceled | {layoutModel.TurnstileName}";
}

<h1>Subscription canceled</h1>

@if (Model.IsSubscriptionAdministrator)
{
    <lead>To purchase a new subscription, @Html.Raw(layoutModel.ContactSalesHtml).</lead>
}
else
{
    <lead>For assistance, @Html.Raw(subContextModel.ContactSubscriptionAdminHtml).</lead>
}

<div style="margin-top: 20px">
    <a role="button" class="btn btn-primary" href="@Url.RouteUrl(TurnstileController.RouteNames.DefaultTurnstile)">Try again »</a>
</div>