@using Turnstile.Web.Controllers
@model SubscriptionMessageViewModel

@{
    ViewData["Title"] = $"Subscription canceled | {Model.SubscriptionName ?? Model.SubscriptionId} | Turnstile";
    Layout = "_SubscriberLayout";
}

<h1>Subscription canceled</h1>

@if (Model.IsSubscriptionAdministrator)
{
    <lead>To purchase a new subscription, @Html.Raw(Model.SalesContactHtml).</lead>
}
else
{
    <lead>For assistance, @Html.Raw(Model.SubscriptionAdminContactHtml).</lead>
}

<div style="margin-top: 20px">
    <a role="button" class="btn btn-primary" href="@Url.RouteUrl(TurnstileController.RouteNames.DefaultTurnstile)">Try again »</a>
</div>