@using Turnstile.Web.Controllers
@using Turnstile.Web.Extensions;

@{
    var layoutModel = ViewData.GetLayoutModel()!;
    var subContextModel = ViewData.GetSubscriptionContextModel()!;

    ViewData["Title"] = "Subscription suspended | Turnstile";
}

<h1>Subscription suspended</h1>

@if (Model.IsSubscriptionAdministrator)
{
    <lead>This subscription has been suspended. For assistance, @Html.Raw(layoutModel.ContactSupportHtml).</lead>
}
else
{
    <lead>This subscription has been suspended. For assistance, @Html.Raw(subContextModel.ContactSubscriptionAdminHtml).</lead>
}

<div style="margin-top: 20px">
    <a role="button" class="btn btn-primary" href="@Url.RouteUrl(TurnstileController.RouteNames.DefaultTurnstile)">Try again »</a>
</div>