@using Microsoft.Identity.Web
@using Turnstile.Web.Controllers
@using Turnstile.Web.Extensions

@{
    LayoutViewModel? headerModel = null;

    if (ViewData.ContainsKey(nameof(LayoutViewModel)))
    {
        headerModel = ViewData[nameof(LayoutViewModel)] as LayoutViewModel;
    }
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom mb-3 sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">@(headerModel?.TurnstileName ?? "Turnstile")</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (!string.IsNullOrEmpty(headerModel?.ContactSalesUrl))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@headerModel!.ContactSalesUrl">Sales</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(headerModel?.ContactSupportUrl))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@headerModel!.ContactSupportUrl">Support</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(SubscriptionsController.RouteNames.GetSubscriptions)">Manage subscriptions</a>
                    </li>
                    @if (User.CanAdministerTurnstile())
                    {

                    }
                </ul>
                <span class="navbar-text">
                    Howdy, @User.Identity!.Name!
                </span>
                <span class="navbar-text">
                    <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
                </span>
            </div>
        </div>
    </nav>
</header>